---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import Link from "@components/Link.astro";
import LinkGroup from "@components/LinkGroup.astro";
import MasterButton from "@components/MasterButton.astro";
---

<Layout title="Astro Starter">

<div class="project-body">

  <section class="title">
<h1>Michael Losquadro Launch Page</h1>
</section>

<section class="tvtime">
<img src="tv.webp" alt="tv">

<video autoplay loop muted playsinline>
  <source src="tv static.webm" type="video/webm">
</video>
</section>

<section class="linktree">
  <MasterButton url="https://sites.google.com/view/mlosquadroportfolio?usp=sharing" src="MyPortfolio UnSelected.webp" title="My Portfolio"/>
  <MasterButton url="https://www.instagram.com/igobyimmichael/" src="MyInsta UnSelected.webp" title="My Instagram"/>
  <MasterButton url="https://youtube.com/playlist?list=PLzora1j3YJJjHF0cmI6hW5PYrIOSc7YgL&si=dXHwUz19_SI-AGMH" src="YtButton UnSelected.webp" title='"The Chet Show" Full Series'/>
  <MasterButton url="https://www.instagram.com/chetgotfelt/" src="ChetInsta UnSelected.webp" title="Chet Instagram"/>
</section>
</div>
</Layout>


<style>
body{
  background-color: black;
}

.linktree{
  padding-top: 140px;
  width: 70vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-conent: center;
  align-self: center;
}

.title {
  padding-top: 50px;
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  align-content: center;
  justify-content: center
}
.title h1{
  color: green;
  justify-self: center;
  font-size: 30px;
  text-align: center
}

.project-body {
display: flex;
flex-direction: column; 
flex-wrap: wrap;
align-content: center;
allign-items: center
}

.tvtime{
  justify-content: space-around;
}
.tvtime img{
  width: 500px;
  position: absolute;
  justify-self: center;
}

@media (max-width:500px){
 .tvtime img{
  width:300px
}}

.tvtime video{
  width: 400px;
    padding: 20px;
    margin-top: 60px;
    justify-self: center;
}
@media (max-width:500px){
 .tvtime video{
  width:250px;
  margin-top: 30px
}}


</style>