---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import Link from "@components/Link.astro";
import LinkGroup from "@components/LinkGroup.astro";
import MasterButton from "@components/MasterButton.astro";
---

<Layout title="Astro Starter">

<div class="project-body">

  <section class="title">
<h1>Michael Losquadro</h1>
<h2>Launch Page</h2>
</section>

<section class="tvtime">
<img src="/images/tv.webp" alt="tv">

<video autoplay loop muted playsinline>
  <source src="/images/tv static.webm" type="video/webm">
</video>
<video class="tvImg" autoplay loop muted playsinline>
</video>
</section>

<section class="tvtimeover">
<video autoplay loop muted playsinline>
  <source src="/images/full.webm" type="video/webm">
</video>
</section>

<section class="linktree">
  <MasterButton url="https://sites.google.com/view/mlosquadroportfolio?usp=sharing" src="/images/MyPortfolio UnSelected.webp" title="My Portfolio:" videosrc="/images/Portfolio.webm"/>
  <MasterButton url="https://www.instagram.com/igobyimmichael/" src="/images/MyInsta UnSelected.webp" title="My Instagram:" videosrc="/images/Insta.webm"/>
  <MasterButton url="https://youtube.com/playlist?list=PLzora1j3YJJjHF0cmI6hW5PYrIOSc7YgL&si=dXHwUz19_SI-AGMH" src="/images/YtButton UnSelected.webp" title='"The Chet Show" Full Series:' videosrc="/images/ChetShow.webm"  />
  <MasterButton url="https://www.instagram.com/chetgotfelt/" src="/images/ChetInsta UnSelected.webp" title="Chet Instagram:" videosrc="/images/ChetInsta.webm" />
</section>

</div>


</Layout>


<style>
body{
  background-color: black;
min-height: 100vh;
min-width: 100vw
}

footer{
 bottom: 0%;
}



.linktree{
  padding-top: 405px;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-self: center;
}

@media (max-width:500px){
  .linktree{
    flex-direction: column;
    padding-top: 300px
}}

.title {
  padding-top: 20px;
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  
}
.title h1{
  color: green;
  justify-self: center;
  font-size: 40px;
  text-align: center
}

.title h2{
  color: green;
}

.project-body {
display: flex;
flex-direction: column; 
flex-wrap: wrap;
align-content: center;
allign-items: center;
justify-content:center;
}

.tvtime{
  position: relative;
  display:grid;
  place-items: center;
  justify-content: center;
}
.tvtime img{
  position: relative;
  width: 400px;
  position: absolute;
  justify-self: center;
  z-index: 1000;
  display:grid
}

.footer{
  justify-content: flex-end
}

@media (max-width:500px){
 .tvtime img{
  width:300px
}}

.tvtime video{
  width: 334px;
    padding: 20px;
    margin-top: 40px;
    justify-self: center;
    position: absolute;
    display:grid;
}
@media (max-width:500px){
 .tvtime video{
  display:none;
  width:260px;
  margin-top: 25px
}}

.tvtimeover{
  position: relative;
  display:grid;
  place-items: center;
  justify-content: center;

}
.tvtimeover video{
  display:none;
  width: 334px;
    padding: 20px;
    margin-top: 40px;
    justify-self: center;
    position: absolute;
    display:none;
}
@media (max-width:500px){
 .tvtimeover video{
  display:grid;
  width:260px;
  margin-top: 25px
}}


</style>