---
const {data}= Astro.props;
---
<section>
<div class="ChetShowButton">
<a href="https://youtube.com/playlist?list=PLzora1j3YJJjHF0cmI6hW5PYrIOSc7YgL&si=dXHwUz19_SI-AGMH"><img src="YtButton UnSelected.webp" alt="TheChetShow"></a>
</div>
<a href="https://youtube.com/playlist?list=PLzora1j3YJJjHF0cmI6hW5PYrIOSc7YgL&si=dXHwUz19_SI-AGMH">""The Chet Show" Full Series"</a>
</section>

<style>
.ChetShowButton:hover{
    filter: brightness(50%);
}
</style>