---
const {data}= Astro.props;
---
<button id="button"></button>

<script type="text/javascript">
    var buttons = document.getElementById("button");
    buttons.innerHTML = '<img src="MyPortfolio UnSelected.webp" onmousehover="this.src="MyPortfolio Hover.png" />';
</script>